// Flexbox Layout
@mixin flexLayout(
  $flex: flex,
  $jc: flex-start,
  $ai: flex-start,
  $gap: 0px,
  $flexFlow: nowrap row
) {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;

  align-items: $ai;
  -ms-flex-align: $ai;
  -moz-box-align: $ai;
  -webkit-box-align: $ai;
  -webkit-align-items: $ai;

  -ms-flex-pack: $jc;
  -moz-box-pack: $jc;
  justify-content: $jc;
  -webkit-box-pack: $jc;
  -webkit-justify-content: $jc;

  flex-flow: $flexFlow;
  -ms-flex-flow: $flexFlow;
  -webkit-flex-flow: $flexFlow;

  gap: $gap;
  -webkit-gap: $gap;
}

// Grid Layout
@mixin gridLayout(
  $grid: grid,
  $gridTemplateCol: 3,
  $jc: default,
  $ai: default,
  $gap: default
) {
  gap: $gap;
  -moz-gap: $gap;
  -webkit-gap: $gap;

  display: $grid;
  display: -ms-grid;

  align-items: $ai;
  justify-content: $jc;

  @if $gridTemplateCol > 1 {
    -ms-grid-column: repeat($gridTemplateCol, auto);
    grid-template-columns: repeat($gridTemplateCol, auto);
  } @else {
    -ms-grid-column: auto;
    grid-template-columns: auto;
  }
}

// Input Layout
@mixin Input(
  $color: $input__border-color,
  $placeholderColor: $input__border-color,
  $bgColor: default,
  $border: 1px solid $input__border-color,
  $borderRadius: 4px,
  $textIndent: 10px
) {
  color: $color;
  outline: none;
  border: $border;
  text-indent: $textIndent;
  background-color: $bgColor;

  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  border-radius: $borderRadius;

  &::placeholder {
    color: $placeholderColor;
  }
}

// Button Layout

@mixin Button(
  $bgColor: default,
  $border: 1px solid $input__border-color,
  $borderRadius: 4px,
  $padding: 10px,
  $transition: all 300ms ease
) {
  outline: none;
  border: $border;
  padding: $padding;
  background-color: $bgColor;

  border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  -webkit-border-radius: $borderRadius;

  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

// Heading Fonts

@mixin headingFonts(
  $color: $input__border-color,
  $fontSize: 18px,
  $fontWeight: 400,
  $lineHeight: default,
  $textTransform: capitalize
) {
  color: $color;
  margin: 0 default;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  text-transform: $textTransform;
  -ms-text-transform: $textTransform;
  -webkit-text-transform: $textTransform;
}

// Background Image

@mixin backgroundImage(
  $bgImage: "https://picsum.photos/100/100",
  $bgRepeat: no-repeat,
  $bgSize: cover,
  $bgPosition: center center
) {
  background-size: $bgSize;
  -o-background-size: $bgSize;
  -moz-background-size: $bgSize;
  -webkit-background-size: $bgSize;

  background-repeat: $bgRepeat;
  -o-background-repeat: $bgRepeat;
  -moz-background-repeat: $bgRepeat;
  -webkit-background-repeat: $bgRepeat;

  background-image: url($bgImage);
  -o-background-image: url($bgImage);
  -moz-background-image: url($bgImage);
  -webkit-background-image: url($bgImage);

  background-position: $bgPosition;
  -o-background-position: $bgPosition;
  -moz-background-position: $bgPosition;
  -webkit-background-position: $bgPosition;
}

// Font Families

@mixin montserrant {
  font-family: "Montserrat";
}

@mixin lato {
  font-family: "Lato", sans-serif;
}

@mixin gilroy {
  font-family: "Gilroy", sans-serif;
}

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

@mixin bebas {
  font-family: "Bebas Neue Cyrillic", sans-serif;
}

// Media Queries

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (max-width: $xxl) {
    @content;
  }
}

@mixin defaultMediaQuery($query) {
  @media only screen and (max-width: $query) {
    @content;
  }
}
