// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$bg-dark: #132026;
$sub-text-color: #BDBDBD;
$nav__link-color: #ffffff;
$site-orange-color: #F4A850;
$input__border-color: #000000;
$image-shadow-color: #0000004a;
$swiper-bullet-color: #0B0B0B80;
$card__footer-job-color: #737373;
$card__footer-text-color: #252B42;
