// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$bg-dark: #132026;
$nav__link-color: #ffffff;
$site-orange-color: #F4A850;
$input__border-color: #000000;
$image-shadow-color: #0000004a;
