.nav {
  &__list {
    @include flexLayout(flex, space-between, center, 40px, row nowrap);
  }
  &__item {
    &-link {
      position: relative;
      letter-spacing: 0.12px;
      font-family: "Poppins";
      transition: color 300ms linear;

      &::after {
        left: 0;
        width: 0%;
        content: "";
        height: 1px;
        bottom: -5px;
        position: absolute;
        transition: width 300ms linear;
        background-color: $site-orange-color;
      }

      @include headingFonts($nav__link-color, 18px, 400, 27px, none);
      &:hover {
        color: $site-orange-color;
        &::after {
          width: 100%;
        }
      }
    }
  }

  &-medias {
    @include flexLayout(flex, space-between, center, 35px, row nowrap);
    &__item {
      &:hover svg path {
        fill: $site-orange-color;
      }
      svg {
        width: 25px;
        height: 25px;

        path {
          fill: $nav__link-color;
          transition: fill 300ms linear;
        }
      }
    }
  }

  &-language {
    position: relative;
    &__box {
      gap: 8.5px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      &-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 27.24px;
        font-family: "Poppins";
        color: $nav__link-color;
      }
      &-image {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
      &-icon {
        width: 9px;
        height: 5.63px;
        transition: transform 300ms linear;
      }
    }

    &--open .nav-language__options {
      opacity: 0;
      visibility: hidden;
      transition: opacity 300ms linear, visibility 300ms linear;
    }

    &--open .nav-language__box-icon {
      transform: rotate(180deg);
      transition: transform 300ms linear;
    }

    &__options {
      right: 0;
      top: 40px;
      position: absolute;
      transition: opacity 300ms linear, visibility 300ms linear;
    }
    &__option {
      background-color: $nav__link-color;

      &-box {
        gap: 8.5px;
        display: flex;
        padding: 9px 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &-title {
          font-size: 20px;
          font-weight: 400;
          line-height: 27.24px;
          font-family: "Poppins";
          color: $our-result__bg-color;
        }
        &-image {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
