.hero {
  padding-top: 115px;
  &__content {
    margin: 0 auto;
    max-width: 845px;
    text-align: center;
    &-title {
      font-family: "Poppins";
      @include headingFonts($nav__link-color, 48px, 600, 72px, none);
      span {
        color: $site-orange-color;
      }
    }
  }
  &-galeries {
    padding: 60px 0px 75px 0px;
    &-image {
      width: 100%;
      height: 450px;
      background-size: cover;
      background-position: center right;
      background-repeat: no-repeat;
    }

    &__list {
      height: 450px;
      transform: translateY(150px);
      @include flexLayout(flex, flex-end, flex-end, 23px, row nowrap);
    }

    &__item {
      &-img {
        width: 198px;
        height: 198px;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}
