.our-result {
  margin-bottom: 160px;
  background-color: $our-result__bg-color;
  padding: {
    top: 100px;
    bottom: 100px;
  }

  &__container {
    @include flexLayout(flex, flex-start, center, 15px, row nowrap);
  }

  &__content {
    &-title {
      margin-bottom: 20px;
      letter-spacing: 0.12px;
      font-family: "Poppins";
      @include headingFonts($nav__link-color, 36px, 600, 54px, none);

      span {
        color: $site-orange-color;
      }
    }

    &-text {
      opacity: 0.5;
      margin-bottom: 50px;
      font-family: "Poppins";
      letter-spacing: 0.12px;
      @include headingFonts($nav__link-color, 18px, 400, 45px, none);
    }
  }

  &__indicators {
    @include flexLayout(flex, flex-start, flex-start, 15px, row nowrap);
  }

  &__indicator {
    &-number {
      font-family: "Poppins";
      letter-spacing: 0.12px;
      @include headingFonts($site-orange-color, 36px, 400, 35px, none);
    }

    &-title {
      font-family: "Poppins";
      letter-spacing: 0.12px;
      @include headingFonts($nav__link-color, 24px, 400, 35px, none);
    }
  }

  &-image {
    width: 635px;
    object-fit: cover;
  }
}
