.projects {
  padding-bottom: 180px;
  &__content {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 60px;
    &-title {
      font-size: 48px;
      font-weight: 600;
      color: #0b0b0b;
      line-height: 72px;
      margin-bottom: 10px;
      letter-spacing: 0.12px;
      font-family: "Poppins";
    }

    &-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 45px;
      font-family: "Poppins";
      letter-spacing: 0.12px;
      color: $swiper-bullet-color;
    }
  }

  &__list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    width: 100%;
    height: 410px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;

    &-image {
      position: absolute;
    }
  }

  &-footer {
    z-index: 1;
    margin: 20px;
    padding: 15px;
    position: relative;
    background-color: #0b0b0b;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      &-key {
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        color: #ffffff80;
        font-style: italic;
        letter-spacing: 0.12px;
        font-family: "Poppins";
      }
      &-value {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        line-height: 27px;
        letter-spacing: 0.12px;
        font-family: "Poppins";
      }
    }
  }
}
